.MuiToolbar-root{
    background:#BF40BF;
    }
AppBar{
        background-color: #BF40BF	;
    }
Link{
    text-decoration:none;
}
List{
    text-decoration: none;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  #customers tr{
    text-align: center;
  }
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #c584c5;
    color: white;
  }
 Button.Delete{
    margin-left: 1;
  }
  .Formset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
 
   }
.textfild{
    margin-right: 2%;
}